@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f7f7f7;
}

@keyframes slideLeftRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-slideLeftRight {
    animation: slideLeftRight 5s linear infinite;
}

@keyframes slideLeftelft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-slideRightLeft {
    animation: slideLeftelft 5s linear infinite;
}